.genre-container {
    text-align: left;
    margin: 20px;
    padding-left: 200px;
  }
  
  .genre-button {
    margin: 5px;
    padding: 10px;
    font-size: 23px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    font-variant-caps: all-petite-caps;
  }