.movielist {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18.5rem);
}

.movielist h2 {
    margin: auto;
}

.moviecard {
    width: min-content;
    cursor: pointer;
    margin: 0 auto;
}

/* CSS for Load More button */
.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.load-more-button {
    padding: 10px 20px;
    border: 1px solid #876161;
    border-radius: 4px;
    background-color: #e1d2d2;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    color: black;
    margin-bottom: 10px;
}

.load-more-button:hover {
    background-color: #bc6464;
}

.load-more-button:focus {
    outline: none;
}